body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  height: 300px; 
  width: 100%;
}


p{
  text-align:center;
}

div img{
    display:block;
    margin:auto;
    border: 5px solid #000;
    margin: 5px;
    border-radius: 5%;
    position: relative;
}

img::after {
    content: attr(alt);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (min-width: 772px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img {
        width: 100%;
        border-radius: 50%;
    }
    .grid img:last-child {
        grid-column: 1 / -1;
    }
    .grid img:last-child {
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    img{
        width: 100%;
        border-radius: 0;
    }
    .grid img:nth-child(3n) {
        grid-column: 1 / -1;
    }
    .grid img:nth-child(3n) {
        width: 100%;
        object-fit: cover;
    }
}

@media (prefers-color-scheme: dark){
    div img{
        border: 5px solid #000;
    }
    img::after{
        background-color: #000;
        color: #fff;
    }
}

@media (prefers-color-scheme: light){
    div img{
        border: 5px solid #fff;
    }
    img::after{
        background-color: #fff;
        color: #000;
    }
}

@media (prefers-reduced-motion: reduce){
    html {
        scroll-behavior: none;
    }
}