body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  height: 300px; 
  width: 100%;
}


p{
  text-align:center;
}

figure img{
    display:block;
    margin:auto;
    border: 5px solid #000;
    margin: 5px;
    border-radius: 5%;
}

figure{
  display: inline-block;
  margin: 5px;
  padding: 2px;
  position: relative;
}

figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

@media (min-width: 772px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    figure img {
        width: 100%;
        border-radius: 50%;
    }
    figure img:last-child {
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    figure img{
        width: 100%;
        border-radius: 0;
    }
     figure img:nth-child(3n) {
        width: 100%;
        object-fit: cover;
    }
}

@media (prefers-color-scheme: dark){
    figure img{
        border: 5px solid #000;
    }
    figcaption{
        background-color: #000;
        color: #fff;
    }
}

@media (prefers-color-scheme: light){
    figure img{
        border: 5px solid #fff;
    }
    figcaption{
        background-color: #fff;
        color: #000;
    }
}

@media (prefers-reduced-motion: reduce){
    html {
        scroll-behavior: none;
    }
}