body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  height: 300px; 
  width: 100%;
}


p{
  text-align:center;
}

div img{
    display:block;
    margin:auto;
    border: 5px solid #000;
    margin: 5px;
    border-radius: 5%;
}

div{
  display: inline-block;
  margin: 5px;
  padding: 2px;
  position: relative;
}

.alt{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

@media (min-width: 772px) {
    div img{
        width: 40vw;
        border-radius: 50%;
    }
    div img:last-child {
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    div img{
        width: 30vw;
        border-radius: 0;
    }
     div img:nth-child(3n) {
        width: 100%;
        object-fit: cover;
    }
}

@media (prefers-color-scheme: dark){
    div img{
        border: 5px solid #000;
    }
    .alt{
        background-color: #000;
        color: #fff;
    }
}

@media (prefers-color-scheme: light){
    div img{
        border: 5px solid #fff;
    }
    .alt{
        background-color: #fff;
        color: #000;
    }
}

@media (prefers-reduced-motion: reduce){
    html {
        scroll-behavior: none;
    }
}